/*
Värit:

headerin sininen #4B8CAB
nappulan vihree #47C786
vaalea sininen #E9ECF0
taustan vaalea harmaa #F0F0F0
tummanliila(autot) #590375
tummanvihreä(ruoka) #136F63
tummanisininen(siivous) #395C89
tummanpunainen(it) #89023E
keltainen(rakennus) #FFBA5C

 */



.App {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Header {
    /*
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #4B8CAB;
    box-shadow: 0px 0px 33px -3px rgba(0,0,0,0.75);
    z-index: 23;
    height: 4rem;
    */
    height: 7rem;
    background-color: #4B8CAB;
    box-shadow: 0px 0px 33px -3px rgba(0,0,0,0.75);
    z-index: 23;
}

.oon {
    font-size: 3rem;
    color: #E9ECF0;
    padding-right: 2rem;
}

.Main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;
    background-color: #F0F0F0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top:0;
}

.SkillList {
    list-style: none;
}

.kys {
    padding-top: 0.5rem;
}

.Skill {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    padding:0;
    background-color: white;
    box-shadow: 0px 0px 13px -6px rgba(0,0,0,0.75);
    border-radius:8px;
}

.skillColorTag {
    margin-left: 0;
    height: inherit;
    width: 1.5rem;
    border-radius:8px 0 0 8px;
    flex-shrink: 0;
}


.New {
    padding: 1rem;
    color: white;
    background-color: #47C786;
    border-radius: 8px;
    width: 98%;
}

.ominaisuus {
    background-color: white;
    color: black;
    border-radius: 8px;
    position: absolute;
    right: 1%;
}

.tallenna {
    background-color: #47C786;
    color: white;
    border-radius: 8px;
    position: absolute;
    right: 1%;
    bottom: 1%;
}

.skillContent h3, .Skill p, .skillContent h5 {
    margin: 0.3rem;
}

.skillContent {
    width: 100%;
}

.postTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.postOpen {
    width: 5rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 1rem;
}

.postForm {
    display: flex;
    justify-content: center;
}

.editPostFormWrap {
    width: 80%;
}

.editPostFormWrap textarea {
    outline: none;
    resize: none;
    overflow: auto;
    width: calc(100% - 1.111rem) !important;
    padding: 0.5rem;
    height: 5rem;
}

.postFormTitle {
    height: 2rem !important;
}

.postFormSelect {
    width: 100% !important;
}

.postImg {
    width: 50%;
    max-height: 50rem;
}

.headerRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 7rem;
}

.headerButtons {
    display: flex;
    flex-direction: row;
    float: right;
    margin:0;
}

.headerButtons button a {
    text-decoration: none;
}

/*
.Main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;
    background-color: #F0F0F0;
}
*/

.New {
    color: white;
    background-color: #47C786;
    border-radius: 8px;
    margin: 1%;

}

.window-container {
    padding-top: 5%;
    padding-bottom: 25%;
    padding-right: 5%;
    padding-left: 5%;
}

/*
.Modal {
    background-color: #47C786;
    color: white;
    border-radius: 8px;
    position: absolute;
    right: 1%;
    bottom: 1%;
}
*/

.ModalSave {
    margin-top: 1rem;
    background-color: #47C786;
    border: none;
    border-radius: 8px;
    width: 6rem;
    height: 2rem;
    color: white;
    align-self: center;
    float: left;
}

.skillContent h3, .Skill p {
    margin: 0.3rem;
}

.NewTitleMain .header button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: #4B8CAB;
    color: #F0F0F0;
    border: 1px solid #3b5a78;
    border-radius: 8px;
}

.NewTitleMain .header button:hover {
    background-color: #3b5a78;
    cursor: pointer;
}

.NewTitleMain .header input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #4B8CAB;
    width: 95%;
}

.AddToolsMain .header button {
    padding: 10px;
    font-size: 16px;
    margin: 1px;
    background-color: #4B8CAB;
    color: #F0F0F0;
    border: 1px solid #3b5a78;
    border-radius: 8px;
    position: static;
}

.AddToolsMain .header button:hover {
    background-color: #3b5a78;
    cursor: pointer;
}

.AddToolsMain .header textarea {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #4B8CAB;
    margin-top: 10px;
}

.EnterStepsMain .header button {
    width: 6rem;
    height: 2rem;
    margin: 1px;
    margin-right: 0px;
    background-color: #4B8CAB;
    color: #F0F0F0;
    border-radius: 8px;
}

.EnterStepsMain .header button:hover {
    background-color: #3b5a78;
    cursor: pointer;
}

.EnterStepsMain .header textarea {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #4B8CAB;
    margin-top: 10px;
}
.Lisaa {
    margin-top: 1rem;
    background-color: #4B8CAB;
    border: none;
    border-radius: 8px;
    width: 6rem;
    height: 2rem;
    color: white;
    align-self: center;
}

.AddButton button {
    margin: 1px;
    margin-right: 0px;
    background-color: #4B8CAB;
    color: white;
    width: 6rem;
    height: 2rem;
    border-radius: 8px;
    border: none;
}

.NewSection .header textarea {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #4B8CAB;
    margin-top: 10px;
}

.deletePost {
    background-color: white;
    color: red;
    border: 0;
    cursor: pointer;
}

div.ui-dialog {
    transform: translate(0) !important;
    width: auto !important;
    height: auto !important;
}

.dialogButton {
    margin: 1rem;
}

.shareButton {
    background-color: white;
    width: 4rem;
    height: 2rem;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
}

.SkillTitleList{
    overflow: auto;
    height: 25rem;
}

.clickable {
    cursor: pointer;
}

.singleComment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.commentLeft {
    width: 90%;
}

.commentRight {
    width: 10%;
}

.checkmarkIcon {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid #47C786;
    background-color: #47C786;
    color: white;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 1rem;
    height: 1rem;
}

.LogOut {
    background-color: white;
    width: 4rem;
    height: 2rem;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}
.Profile {
    background-color: white;
    width: 4rem;
    height: 2rem;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}
.Profile a {
    text-decoration: none;
}
.NewModal {
    padding: 1rem;
}

@media only screen and (max-width: 600px) {
    .postImg {
        width: 100%;
        max-height: 40rem;
    }

    div.c-modal--window.modal-fade-on-enter.window-container {
        width: 70%!important;
        height: 70%!important;
    }
}